{% extends 'main.html' %}
{% load static %}
{% block title %}О нас{% endblock %}


{% block content %}
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary">
                        <div class="page-header-content pt-10">
                            <div class="container text-center">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <img src="{% static 'assets/pict/about_st_logo.png' %}" style="width: 80%">
{#                                        <h1 class="page-header-title mb-2">О StarTrek Team</h1>#}
                                        <p class="page-header-text">ее участниках и контакты</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
    <section class="bg-white py-10">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
{#                                    <h2 class="mb-4">A quick guide to our company culture</h2>#}
{#                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, eos quisquam expedita quo officiis porro provident laborum. Earum, consequatur provident, ipsam at excepturi rerum laborum aliquam facere molestias mollitia recusandae.</p>#}
{#                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ipsam? Perspiciatis sunt voluptatum officia non harum, dolores omnis fugiat nam ad optio cumque molestiae impedit dignissimos velit commodi aliquid iure?</p>#}
{#                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem sapiente natus architecto aut porro! Vitae iusto praesentium recusandae debitis, cumque illum amet suscipit rem pariatur, magni iure laborum inventore in!</p>#}
{#                                    <hr class="my-5">#}
{#                                    <h4 class="mb-4">#}
{#                                        <div class="icon-stack bg-primary text-white mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></div>#}
{#                                        This is what we do#}
{#                                    </h4>#}
{#                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, eos quisquam expedita quo officiis porro provident laborum. Earum, consequatur provident, ipsam at excepturi rerum laborum aliquam facere molestias mollitia recusandae.</p>#}
{#                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ipsam? Perspiciatis sunt voluptatum officia non harum, dolores omnis fugiat nam ad optio cumque molestiae impedit dignissimos velit commodi aliquid iure?</p>#}
{#                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem sapiente natus architecto aut porro! Vitae iusto praesentium recusandae debitis, cumque illum amet suscipit rem pariatur, magni iure laborum inventore in!</p>#}
{#                                    <div class="card bg-light shadow-none">#}
{#                                        <div class="card-body">#}
{#                                            <h6>Questions you should ask yourself</h6>#}
{#                                            <ul class="mb-0">#}
{#                                                <li class="text-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed soluta fugiat eveniet, dignissimos facere quisquam, odit suscipit aliquid magnam,?</li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <hr class="my-5">#}
                                    <img src="{% static 'assets/pict/paltusov.png' %}" style="width: 20%; border-radius: 50%">
                                    <h4 class="mb-4">
                                        <div class="icon-stack bg-primary text-white mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></div>
                                        Никита Палтусов. Директор
                                    </h4>
                                    <p class="lead">«Когда вы создаете собственную компанию, это больше похоже на искусство, чем на науку, ведь вы ничего не знаете. Вместо решения профильных проблем, попробуйте решить что-нибудь глубоко личное для вас самих. Всё будет идеально, если вы будете обычным человеком и просто решите собственную проблему способом, который может помочь миллионам других людей».</p>

                                    <hr class="my-5">
                                    <img src="{% static 'assets/pict/polyakov.png' %}" style="width: 20%; border-radius: 50%">
                                    <h4 class="mb-4">
                                        <div class="icon-stack bg-primary text-white mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></div>
                                        Александр Поляков. Фронт-энд специалист
                                    </h4>
                                    <p class="lead">«По-хорошему, больше половины популярных работ были написаны просто отвратительно. Вернее, хайп вокруг них совершенно не соответствует качеству кода и уровню поддержки от организаторов. Но поскольку на Front подсаживалась сразу куча людей, он выживал и продолжал существовать».</p>

                                    <hr class="my-5">
                                    <img src="{% static 'assets/pict/simakov.png' %}" style="width: 20%; border-radius: 50%">
                                    <h4 class="mb-4">
                                        <div class="icon-stack bg-primary text-white mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></div>
                                        Антон Симаков. Бэк-энд специалист
                                    </h4>
                                    <p class="lead">«Пользователь совершает действие, а реакция сервиса или сайта на него затрагивает нужную часть бэкенда. В это понятие входит всё, что позволяет вам реализовывать логику работы тех функций, которые предоставляет интерфейс».</p>

                                    <hr class="my-5">
                                    <img src="{% static 'assets/pict/shalkin.png' %}" style="width: 20%; border-radius: 50%">
                                    <h4 class="mb-4">
                                        <div class="icon-stack bg-primary text-white mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></div>
                                        Дмитрий Шалькин. Специалист БД
                                    </h4>
                                    <p class="lead">«Когда вы создаете собственную компанию, это больше похоже на искусство, чем на науку, ведь вы ничего не знаете. Вместо решения профильных проблем, попробуйте решить что-нибудь глубоко личное для вас самих. Всё будет идеально, если вы будете обычным человеком и просто решите собственную проблему способом, который может помочь миллионам других людей».</p>

                                    <hr class="my-5">
                                        <img src="{% static 'assets/pict/dudkin' %}" style="width: 20%; border-radius: 50%">
                                    <h4 class="mb-4">
                                        <div class="icon-stack bg-primary text-white mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></div>
                                        Андрей Дудкин. Руководитель
                                    </h4>
                                    <p class="lead">«Я никогда не готовился стать руководителем. Я всегда готовился стать хорошим членом команды, хорошим коллегой».</p>

                                        {#                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laboriosam consequuntur iusto vero consequatur beatae, tempore voluptatem rerum sit facilis aut ea optio eaque quaerat, libero recusandae soluta molestiae veniam.</p>#}
{#                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, ut! Ut ipsum debitis numquam. Perferendis, laudantium! Itaque ab velit eaque magnam quis quam libero saepe nobis culpa. Vitae, dignissimos iusto.</p>#}
{#                                    <div class="card bg-light shadow-none">#}
{#                                        <div class="card-body">#}
{#                                            <h6>Questions you should ask yourself</h6>#}
{#                                            <ul class="mb-0">#}
{#                                                <li class="text-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit?</li>#}
{#                                                <li class="text-italic">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas nobis illum nam?</li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <hr class="my-5">#}
{#                                    <h4>Feedback</h4>#}
{#                                    <p class="lead">In the spirit of thinking rigorously, we’d love your open and honest feedback on this guide. <a href="#!">Let us know what you think</a>.</p>#}
{#                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum culpa optio nihil id distinctio excepturi dignissimos, iure totam minima, natus ducimus.</p>#}
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
{% endblock %}

{% block script %}

{% endblock %}