{% extends 'main.html' %}
{% load static %}
{% block title %}Личный кабинет{% endblock %}


{% block content %}
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary">
        <div class="page-header-content pt-10" style="padding-top: 1rem !important;">

            <div class="row align-items-center">
                <div class="container col-md-6 mb-1">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-6 text-center">
                            <img class="mb-4" src="{% static 'assets/img/avataaars.svg' %}" style="width: 15rem;">
                            <h1 class="page-header-title">Приветствуем, {{ user.first_name }}!</h1>

                            <p class="page-header-text"> <ul style="text-align: left">
                                <li><b>Профилирующие предметы:</b></li>
                                {% for item in data.prof_predmet.all%}
                                    <li class="ml-3"> {{ item.name }}</li>
                                {% endfor %}
                                    <li><b>Мои хобби:</b></li>
                                    <li class="ml-3"> {{ data.hobbi }}</li>
                                <li><b>Желаемые профессии:</b></li>
                                {% for item in data.want_prof.all%}
                                    <li class="ml-3"> {{ item.name }}</li>
                                {% endfor %}
                                <li><b>Желаемые специальности:</b></li>
                                {% for item in data.want_spec.all%}
                                    <li class="ml-3"> {{ item.name }}</li>
                                {% endfor %}
                        </ul></p>
                        </div>
                        <div class=" card col-xl-6 col-lg-6">
                    <div class="card-body">
                        <h6>Мои последние действия</h6>
                        <hr>
                        {% for item in dost.kurses.all %}
                        <div class="d-flex mb-4">
                            {% if item.img %}<div class="avatar avatar-lg"><img class="avatar-img bg-gray-100"
                                                               src="{{ item.img }}">
                            </div>
                            {% endif %}
                            <div class="ml-3">
                                <a class="text-dark" target="_blank" href="{{ item.url }}"><h6 class="mb-1">{{ item.name }}</h6></a>
                                <div class="small text-gray-500">{% if item.category %}<a class="text-gray-500" href="{{ item.url }}">{{ item.category }}</a>{% else %}Курс
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        {% for item in dost.spec.all %}
                        <div class="d-flex mb-4">
                            <div class="ml-3">
                                <a class="text-dark"  target="_blank" href="{{ item.url }}"><h6 class="mb-1">{{ item.name }}</h6></a>
                                <div class="small text-gray-500">Специальность
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% for item in dost.prof.all %}
                        <div class="d-flex mb-4">
                            <div class="ml-3">
                                <a class="text-dark" target="_blank" href="{{ item.url }}"><h6 class="mb-1">{{ item.name }}</h6></a>
                                <div class="small text-gray-500">Профессия
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                    </div>
                </div>

            </div>

            <div class="container">
                <div class="row align-items-center">
{#                    <div id="cy" style="width: 500px; height: 500px"></div>#}

                    {#                    <div class="col-lg-6 d-none d-lg-block" data-aos="fade-up" data-aos-delay="50"><img#}
                    {#                            class="img-fluid" src="{% static 'assets/pict/reg_pict.png' %}"/></div>#}
                </div>
            </div>
        </div>
        <div class="svg-border-rounded text-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
                 fill="currentColor">
                <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
            </svg>
        </div>
    </header>
    <section class="bg-white py-10">
                        <div class="container">
                            <h2 class="mb-4">Мои курсы</h2>
                            <div class="card-columns card-columns-portfolio">
                                {% for item in plan.kurses.all|slice:":3" %}
                                <a class="card card-portfolio" target="_blank" href="{{ item.url }}"><img class="card-img-top bg-gray-100" height="300px" width="400px" src="{{ item.img }}" alt="...">
                                    <div class="card-body"><div class="card-title">{% if item in dost.kurses.all %}<i style="color: green" class="bi bi-check-circle"></i>{% endif %}{{ item.name }}</div></div></a>
                                {% endfor %}
                                {% for item in plan.prof.all|slice:":3" %}
                                <a class="card card-portfolio" target="_blank" href="{{ item.url }}"><img class="card-img-top bg-gray-100" height="300px" width="400px" src="{% static 'assets/pict/lk_prof.png' %}" alt="...">
                                    <div class="card-body"><div class="card-title">{% if item in dost.prof.all %}<i style="color: green" class="bi bi-check-circle"></i>{% endif %}{{ item.name }}</div></div></a>
                                {% endfor %}
                                {% for item in plan.spec.all|slice:":2" %}
                                <a class="card card-portfolio" target="_blank" href="{{ item.url }}"><img class="card-img-top bg-gray-100" height="300px" width="400px" src="{% static 'assets/pict/lk_spec.png' %}" alt="...">
                                    <div class="card-body"><div class="card-title">{% if item in dost.spec.all %}<i style="color: green" class="bi bi-check-circle"></i>{% endif %}{{ item.name }}</div></div></a>
                                {% endfor %}
{#                                <a class="card card-portfolio" href="#!"><img class="card-img-top" src="https://source.unsplash.com/Ecnx13MEPK0/400x500" alt="...">#}
{#                                    <div class="card-body"><div class="card-title">Flower Mug</div></div></a>#}
{#                                <a class="card card-portfolio" href="#!"><img class="card-img-top" src="https://source.unsplash.com/eUCy1jb_B7I/400x400" alt="...">#}
{#                                    <div class="card-body"><div class="card-title">Cactus Display</div></div></a>#}
{#                                <a class="card card-portfolio" href="#!"><img class="card-img-top" src="https://source.unsplash.com/cuTcfqsES6o/400x500" alt="...">#}
{#                                    <div class="card-body"><div class="card-title">Reading</div></div></a>#}
{#                                <a class="card card-portfolio" href="#!"><img class="card-img-top" src="https://source.unsplash.com/jipR1oTCO7U/400x400" alt="...">#}
{#                                    <div class="card-body"><div class="card-title">White Book</div></div></a>#}
{#                                <a class="card card-portfolio" href="#!"><img class="card-img-top" src="https://source.unsplash.com/n3sqjJzZiBM/400x300" alt="...">#}
{#                                    <div class="card-body"><div class="card-title">Photo Face</div></div></a>#}
{#                                <a class="card card-portfolio" href="#!"><img class="card-img-top" src="https://source.unsplash.com/Zr7MxECDTQ8/400x300" alt="...">#}
{#                                    <div class="card-body"><div class="card-title">Catalog</div></div></a>#}
{#                                <a class="card card-portfolio" href="#!"><img class="card-img-top" src="https://source.unsplash.com/QcyenJDqDzw/400x500" alt="...">#}
{#                                    <div class="card-body"><div class="card-title">Notebook</div></div></a>#}
{#                                <a class="card card-portfolio" href="#!"><img class="card-img-top" src="https://source.unsplash.com/TIutDBFEtcY/400x400" alt="...">#}
{#                                    <div class="card-body"><div class="card-title">Book Stand</div></div></a>#}
                            </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>

    <section class="bg-light py-10">
                        <div class="container">
                            <h2 class="mb-4">Мои достижения</h2>
                            <div class="row">
                                {% for item in dost.kurses.all %}
                                <div class="col-lg-3 col-md-6 mb-5">
                                    <a class="card lift border-bottom-lg border-blue" style="height: 200px" href="{{ item.url }}"><div class="card-body text-center">
                                            <div class="icon-stack icon-stack-xl bg-red text-white mb-2"><img class="bg-gray-100" width="80px" height="80px" style="border-radius: 50%" src="{{ item.img }}"
                                                                                                              alt=""></div>
                                            <div class="small text-gray-600">{{ item.name }}</div>
                                        </div></a>
                                </div>
                                {% endfor %}
                                {% for item in dost.prof.all %}
                                    <div class="col-lg-3 col-md-6 mb-5">
                                        <a class="card lift border-bottom-lg border-red" style="height: 200px" href="{{ item.url }}"><div class="card-body text-center">
                                                <div class="icon-stack icon-stack-xl bg-red text-white mb-2"><img width="80px" height="80px" style="border-radius: 50%"
                                                        src="{% static 'assets/pict/lk_prof.png' %}" alt=""></div>
                                                <div class="small text-gray-600">{{ item.name }}</div>
                                            </div></a>
                                    </div>
                                {% endfor %}
                                {% for item in dost.spec.all %}
                                <div class="col-lg-3 col-md-6 mb-5">
                                    <a class="card lift border-bottom-lg border-green" style="height: 200px" href="{{ item.url }}"><div class="card-body text-center">
                                            <div class="icon-stack icon-stack-xl bg-green text-white mb-2"><img width="80px" height="80px" style="border-radius: 50%" src="{% static 'assets/pict/lk_spec.png' %}"
                                                                                                              alt=""></div>
                                            <div class="small text-gray-600">{{ item.name }}</div>
                                        </div></a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
{% endblock %}

{% block script %}

    <script>
        jQuery(function () {
            var cy = cytoscape({
                container: $('#cy'),

                elements: {{ data|safe }},

                style: [{
                    selector: 'node',
                    style: {
                        'background-color': 'data(bg)',
                        'shape': 'star'
                    }
                },
                    {
                        selector: 'edge',
                        style: {
                            'width': 3,
                            'line-color': 'data(bg)',
                            'target-arrow-color': 'data(bg)',
                            'target-arrow-shape': 'triangle',
                            'curve-style': 'bezier'
                        }
                    }
                ],
                layout: {
                    name: 'cose',
                    fit:false
                },
            });

            cy.on('click', 'node', function (evt) {
                var node = evt.target;
                if (node.style().label !== '') {
                    node.style({
                        label: ''
                    })
                } else {
                    node.style({
                        label: node.id()
                    })
                }
                console.log(node);
            })
        });
    </script>

{% endblock %}